h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
body {
  margin: 2em;
}

html * {
  font-family: Arial;
}

button, a {
  cursor:pointer;
}

input {
  box-shadow:none;
  outline:none;
}

#appWrapper {
  margin-left:auto;
  margin-right:auto;
  width:900px;
}

.pushBtn {
  height:30px;
  color:white;

  font-size:18px;
  font-weight:bold;

  border-radius:5px;

  background-color:#00b33c;
  box-shadow:1px 1px 3px #003311;
  border:none;
  outline:none;
}

.pushBtn:hover {
  background-color:#00802b;
}

.pushBtn:active {
  -ms-transform: translate(1px, 1px); /* IE 9 */
  -webkit-transform: translate(1px,1px); /* Chrome, Safari, Opera */
  transform:translate(1px,1px);
  box-shadow:none;
}

.pike {
  height:25%;
  width:auto;

  display:block;
  margin:auto;
  margin-top:10%;
  
  -webkit-animation:spin 2s linear infinite;
  -moz-animation:spin 2s linear infinite;
  animation:spin 2s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

