table {
  padding:20px;
  width:400px;

  counter-reset: rowNumber;

  margin:auto;
}

ul {
  counter-reset: rowNumber;
}

li:nth-child(odd) {
  background: lightgray;
}

ul li{
  list-style:none;
}

tr:nth-child(even) {
  background: lightgray;
}

th {
  border-bottom: 1px solid black;
}

.table tr:not(:first-child) {
    counter-increment: rowNumber;
}

.table tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}

table, tr, td {
  padding:0;
}

.dropdown {
  display:none;
}

.dropdownTbl{
  counter-reset:rowNumber;
  background:#00b8e6;
  margin:0;
  padding:0;
  z-index:1;
}

.dropdownTbl{
  width:300px;
}

.dropdownTbl tr:nth-child(even) {
  background: green;
}

.rotate {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);

  font-weight:bold;
}

.dropbtn {
  font-size: 20px;
  padding-left:10px;
}

.dropbtn:focus ~.dropdown {
  display:table-row;
  color:red;
  position:absolute;
}

.total, #totalHeader {
  width:100px;
  text-align:right;
}

.name, #nameHeader {
  text-align:left;
  width:300px;
}