<table class="headers">
  <tr>
    <th id="nameHeader">Diver</th>
    <th id="totalHeader">Total</th>
  </tr>
</table>

<ul>  
  <li *ngFor="let diver of divers | sort">
    <table>
      <tr>
        <th class="name" colspan="4">{{ diver.name }}</th>
        <th class="total">{{ scoreToString(diver.total) }}
          <button class="dropbtn" (click)=showScores(diver)>
            <div id = "{{ 'btn' + divers.indexOf(diver) }}">
              +
            </div>
          </button>
        </th>
      </tr>
    <!-- <div class="dropdown" id="{{ 'scores' + divers.indexOf(diver) }}"> -->
      <tr *ngFor="let dive of diver.list" class="dropdown {{'scores' + divers.indexOf(diver) }}">
        <td>{{dive.num}}</td>
        <td *ngFor="let score of dive.scoreList" align="center">{{ score | toFloat }}</td>
        <td align="center">{{ scoreToString(dive.total) }}</td>
      </tr>
    <!-- </div> -->
      


<!--       <tr class="dropdown" id="{{ 'scores' + divers.indexOf(diver) }}">
        <table colspan="3" class="dropdownTbl">
          <tr *ngFor="let dive of diver.list">
            <td>{{dive.num}}</td>
            <td *ngFor="let score of dive.scoreList">{{ score | toFloat }}</td>
            <td>{{ scoreToString(dive.total) }}</td>
          </tr>
        </table>
      </tr> -->



    </table>
  </li> 
</ul>

