table {
  padding:20px;
  width:400px;

  counter-reset: rowNumber;
  border-collapse: collapse;

  margin:auto;
}
td {
  padding:5px;
}

#standingsList {
  counter-reset: li;
  padding-left:40px;
}

li:nth-child(odd) th{
  background: lightgray;
}

#standingsList li{
  list-style:none;

  position:relative;
}

#standingsList li:before {
  content:counter(li)"."; /* Use the counter as content */
  counter-increment:li; /* Increment the counter by 1 */
  position:absolute;

  left:-20px;
  font-size:18px;
  top:6px;
}

#standingsList li:nth-child(-n+3):before {
  content:counter(li);

  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;

  border-radius:25px;
  height:20px;
  width:25px;

  text-align:center;
  left:-28px;

  color:white;
}

#standingsList li:nth-child(1):before {
  background-color:#DAA520;
}

#standingsList li:nth-child(2):before {
  background-color:#C0C0C0;
}

#standingsList li:nth-child(3):before {
  background-color:#CD7F32;
}


.table tr:nth-child(even) {
  background: lightgray;
}

.headers {
  width:95%;
}

.headers th {
  border-bottom: 3px solid black;
  font-size:25px;
}

.table tr:not(:first-child) {
    counter-increment: rowNumber;
}

.table tr td:first-child::before {
  content: counter(rowNumber);
  min-width: 1em;
  margin-right: 0.5em;
}

.scoreList .diveTotal {
  text-align:right;
}

.dropdown{
  display:none;
  width:100%;
  padding:5px;

  font-size:15px;
}

.diverInfo {
  counter-reset: rowNumber;
}

.diverInfo th {
  padding-left:5px;
}

.diverInfo tr:nth-child(2) {
  border-top: 1px solid gray;
}

.diverInfo tr:nth-child(even) {
  background: #99ddff;
}

.diverInfo tr:nth-child(2n+3) {
  background: #00b8e6;
}

.rotate {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);

  font-weight:bold;
  color:#CA342D;
}

.dropbtn {
  font-size: 25px;
  padding-left:10px;
  color:green;
  border:none;
  background:none;
  outline:none;
}

.total, #totalHeader {
  width:100px;
  text-align:right;
}

.name, #nameHeader {
  text-align:left;
  width:300px;
}