<div class="newDiverContainer">
    <form (ngSubmit)="newDiver()" #diverForm="ngForm">
      <div class="headerInfo">
        <label for="name">Name: </label>
        <input type="text" [(ngModel)]="diverName" ngControl="name" name="name" required>
        
        <select [(ngModel)]="sex" ngControl="sex" name="sex" required>
          <option selected>M</option>
          <option>F</option>
        </select>
      </div>

      <ol>
        
        <li>
          <div class="form-group">
            
            <input type="text" [(ngModel)]="dive0" 
                ngControl="num0" name="dive number 0" 
                class="form-control" required>

            <select [(ngModel)]="pos0" ngControl="pos0" 
                name="dive pos 0" class="form-control" required>`
              <option *ngFor="let p of ['A','B','C','D']" [value]="p">{{p}}</option>
            </select>
            
            <select [(ngModel)]="level0" ngControl="level0" 
                name="dive level 0" class="form-control" required>
              <option *ngFor="let l of [1,3,5,7,10]" [value]="l">{{l}}m</option>
            </select>

            <div id="dd0" class="dd"> 
              {{ ddService.getDD(dive0, pos0, level0) }} 
            </div>
          
          </div>
        </li>

        <li>
          <div class="form-group">
            
            <input type="text" [(ngModel)]="dive1" 
                ngControl="num1" name="dive number 1" 
                class="form-control" required>

            <select [(ngModel)]="pos1" ngControl="pos1" 
                name="dive pos 1" class="form-control" required>`
              <option *ngFor="let p of ['A','B','C','D']" [value]="p">{{p}}</option>
            </select>
            
            <select [(ngModel)]="level1" ngControl="level1" 
                name="dive level 1" class="form-control" required>
              <option *ngFor="let l of [1,3,5,7,10]" [value]="l">{{l}}m</option>
            </select>

            <div id="dd1" class="dd"> 
              {{ ddService.getDD(dive1, pos1, level1) }} 
            </div>
          
          </div>
        </li>

        <li>
          <div class="form-group">
            
            <input type="text" [(ngModel)]="dive2" 
                ngControl="num2" name="dive number 2" 
                class="form-control" required>

            <select [(ngModel)]="pos2" ngControl="pos2" 
                name="dive pos 2" class="form-control" required>`
              <option *ngFor="let p of ['A','B','C','D']" [value]="p">{{p}}</option>
            </select>
            
            <select [(ngModel)]="level2" ngControl="level2" 
                name="dive level 2" class="form-control" required>
              <option *ngFor="let l of [1,3,5,7,10]" [value]="l">{{l}}m</option>
            </select>

            <div id="dd2" class="dd"> 
              {{ ddService.getDD(dive2, pos2, level2) }} 
            </div>
          
          </div>
        </li>

        <li>
          <div class="form-group">
            
            <input type="text" [(ngModel)]="dive3" 
                ngControl="num3" name="dive number 3" 
                class="form-control" required>

            <select [(ngModel)]="pos3" ngControl="pos3" 
                name="dive pos 3" class="form-control" required>`
              <option *ngFor="let p of ['A','B','C','D']" [value]="p">{{p}}</option>
            </select>
            
            <select [(ngModel)]="level3" ngControl="level3" 
                name="dive level 3" class="form-control" required>
              <option *ngFor="let l of [1,3,5,7,10]" [value]="l">{{l}}m</option>
            </select>

            <div id="dd3" class="dd"> 
              {{ ddService.getDD(dive3, pos3, level3) }} 
            </div>
          
          </div>
        </li>

        <li>
          <div class="form-group">
            
            <input type="text" [(ngModel)]="dive4" 
                ngControl="num4" name="dive number 4" 
                class="form-control" required>

            <select [(ngModel)]="pos4" ngControl="pos4" 
                name="dive pos 4" class="form-control" required>`
              <option *ngFor="let p of ['A','B','C','D']" [value]="p">{{p}}</option>
            </select>
            
            <select [(ngModel)]="level4" ngControl="level4" 
                name="dive level 4" class="form-control" required>
              <option *ngFor="let l of [1,3,5,7,10]" [value]="l">{{l}}m</option>
            </select>

            <div id="dd4" class="dd"> 
              {{ ddService.getDD(dive4, pos4, level4) }} 
            </div>
          
          </div>
        </li>

        <li *ngIf="sex=='M'">
          <div class="form-group">
            
            <input type="text" [(ngModel)]="dive5" 
                ngControl="num5" name="dive number 5" 
                class="form-control" required>

            <select [(ngModel)]="pos5" ngControl="pos5" 
                name="dive pos 5" class="form-control" required>`
              <option *ngFor="let p of ['A','B','C','D']" [value]="p">{{p}}</option>
            </select>
            
            <select [(ngModel)]="level5" ngControl="level5" 
                name="dive level 5" class="form-control" required>
              <option *ngFor="let l of [1,3,5,7,10]" [value]="l">{{l}}m</option>
            </select>

            <div id="dd5" class="dd"> 
              {{ ddService.getDD(dive5, pos5, level5) }} 
            </div>
          
          </div>
        </li>

      </ol>

      <button type="submit" class="pushBtn">Add Diver</button>
    </form>
</div>