<div class="newDiverContainer">
    <form (ngSubmit)="newDiver()" #diverForm="ngForm">
      <table class="headerInfo">
        <tr>
          <td>
            <label for="name">Name: </label>
          </td>

          <td>
            <input class="form-control" type="text" [(ngModel)]="diverName" 
                   ngControl="name" name="name" required>
          </td>
        </tr>
        
        <tr>
          <td>
            <label for="sex">Sex: </label>
          </td>

          <td>
            <div class="select selectSex">
              <select [(ngModel)]="sex" ngControl="sex" name="sex" required>
                <option>M</option>
                <option>F</option>
              </select>
              <div class="select__arrow"></div>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <label for="event">Event: </label>
          </td>

          <td>
            <div class="select selectEvent">
              <select [(ngModel)]="event" ngControl="event" name="event" required>
                <option>1m</option>
                <option>3m</option>
                <option>10m</option>
                <option>Platform</option>
                <option>Custom</option>   
              </select>
              <div class="select__arrow"></div>
            </div>
          </td>
      </table>

      <ol>
        
        <li>
          <div class="form-group">
            
            <input type="text" [(ngModel)]="dive0" 
                ngControl="num0" name="dive number 0" 
                class="form-control" required>

            <div class="select selectPos">
              <select [(ngModel)]="pos0" ngControl="pos0" 
                  name="dive pos 0" class="form-control" required>`
                <option *ngFor="let p of ['A','B','C','D']" [value]="p">{{p}}</option>
              </select>
              <div class="select__arrow"></div>
            </div>
            

            <div class="select selectLev" *ngIf="event == 'Custom' || event == 'Platform' ">
              <select [(ngModel)]="level0" ngControl="level0" 
                  name="dive level 0" class="form-control" required>
                <option *ngIf="event != 'Platform' " value=1>1m</option>
                <option *ngIf="event != 'Platform' " value=3>3m</option>
                <option value=5>5m</option>
                <option value=7>7m</option>
                <option value=10>10m</option>
              </select>
              <div class="select__arrow"></div>
            </div>

            <span *ngIf="event == '1m'" class="levLabel">1m</span>
            <span *ngIf="event == '3m'" class="levLabel">3m</span>
            <span *ngIf="event == '10m'" class="levLabel">10m</span>

            <div id="dd0" class="dd"> 
              <span *ngIf="event == '1m'" id="dd0_1m">{{ ddService.getDD(dive0, pos0, 1) | toFloat }}</span>
              <span *ngIf="event == '3m'" id="dd0_3m">{{ ddService.getDD(dive0, pos0, 3) | toFloat }}</span>
              <span *ngIf="event == '10m'" id="dd0_10m">{{ ddService.getDD(dive0, pos0, 10) | toFloat }}</span>
              <span *ngIf="event == 'Custom' || event == 'Platform'" id="dd0_other">
                {{ ddService.getDD(dive0, pos0, level0) | toFloat }}
              </span>
            </div>
          
          </div>
        </li>

        <li>
          <div class="form-group">
            
            <input type="text" [(ngModel)]="dive1" 
                ngControl="num1" name="dive number 1" 
                class="form-control" required>

            <div class="select selectPos">
              <select [(ngModel)]="pos1" ngControl="pos1" 
                  name="dive pos 1" class="form-control" required>`
                <option *ngFor="let p of ['A','B','C','D']" [value]="p">{{p}}</option>
              </select>
            <div class="select__arrow"></div>
            </div>
            
            <div class="select selectLev" *ngIf="event == 'Custom' || event == 'Platform' ">
              <select [(ngModel)]="level1" ngControl="level1" 
                  name="dive level 1" class="form-control" required>
                <option *ngIf="event != 'Platform' " value=1>1m</option>
                <option *ngIf="event != 'Platform' " value=3>3m</option>
                <option value=5>5m</option>
                <option value=7>7m</option>
                <option value=10>10m</option>
              </select>
              <div class="select__arrow"></div>
            </div>

            <span *ngIf="event == '1m'" class="levLabel">1m</span>
            <span *ngIf="event == '3m'" class="levLabel">3m</span>
            <span *ngIf="event == '10m'" class="levLabel">10m</span>

            <div id="dd1" class="dd"> 
              <span *ngIf="event == '1m'" id="dd1_1m">{{ ddService.getDD(dive1, pos1, 1) | toFloat }}</span>
              <span *ngIf="event == '3m'" id="dd1_3m">{{ ddService.getDD(dive1, pos1, 3) | toFloat }}</span>
              <span *ngIf="event == '10m'" id="dd1_10m">{{ ddService.getDD(dive1, pos1, 10) | toFloat }}</span>
              <span *ngIf="event == 'Custom' || event == 'Platform'" id="dd1_other">
                {{ ddService.getDD(dive1, pos1, level1) | toFloat }}
              </span>
            </div>
          
          </div>
        </li>

        <li>
          <div class="form-group">
            
            <input type="text" [(ngModel)]="dive2" 
                ngControl="num2" name="dive number 2" 
                class="form-control" required>

            <div class="select selectPos">
              <select [(ngModel)]="pos2" ngControl="pos2" 
                  name="dive pos 2" class="form-control" required>`
                <option *ngFor="let p of ['A','B','C','D']" [value]="p">{{p}}</option>
              </select>
              <div class="select__arrow"></div>
            </div>
            
            <div class="select selectLev" *ngIf="event == 'Custom' || event == 'Platform' "> 
              <select [(ngModel)]="level2" ngControl="level2" 
                  name="dive level 2" class="form-control" required>
                <option *ngIf="event != 'Platform' " value=1>1m</option>
                <option *ngIf="event != 'Platform' " value=3>3m</option>
                <option value=5>5m</option>
                <option value=7>7m</option>
                <option value=10>10m</option>
              </select>
              <div class="select__arrow"></div>
            </div>

            <span *ngIf="event == '1m'" class="levLabel">1m</span>
            <span *ngIf="event == '3m'" class="levLabel">3m</span>
            <span *ngIf="event == '10m'" class="levLabel">10m</span>

            <div id="dd2" class="dd"> 
              <span *ngIf="event == '1m'" id="dd2_1m">
                {{ ddService.getDD(dive2, pos2, 1) | toFloat }}</span>
              <span *ngIf="event == '3m'" id="dd2_3m">
                {{ ddService.getDD(dive2, pos2, 3) | toFloat }}</span>
              <span *ngIf="event == '10m'" id="dd2_10m">
                {{ ddService.getDD(dive2, pos2, 10) | toFloat }}</span>
              <span *ngIf="event == 'Custom' || event == 'Platform'" id="dd2_other">
                {{ ddService.getDD(dive2, pos2, level2) | toFloat }}
              </span>
            </div>
          
          </div>
        </li>

        <li>
          <div class="form-group">
            
            <input type="text" [(ngModel)]="dive3" 
                ngControl="num3" name="dive number 3" 
                class="form-control" required>

            <div class="select selectPos">
              <select [(ngModel)]="pos3" ngControl="pos3" 
                  name="dive pos 3" class="form-control" required>`
                <option *ngFor="let p of ['A','B','C','D']" [value]="p">{{p}}</option>
              </select>
            <div class="select__arrow"></div>
            </div>
            
            <div class="select selectLev" *ngIf="event == 'Custom' || event == 'Platform' ">
              <select [(ngModel)]="level3" ngControl="level3" 
                  name="dive level 3" class="form-control" required>
                <option *ngIf="event != 'Platform' " value=1>1m</option>
                <option *ngIf="event != 'Platform' " value=3>3m</option>
                <option value=5>5m</option>
                <option value=7>7m</option>
                <option value=10>10m</option>
              </select>
              <div class="select__arrow"></div>
            </div>

            <span *ngIf="event == '1m'" class="levLabel">1m</span>
            <span *ngIf="event == '3m'" class="levLabel">3m</span>
            <span *ngIf="event == '10m'" class="levLabel">10m</span>

            <div id="dd3" class="dd"> 
              <span *ngIf="event == '1m'" id="dd3_1m">{{ ddService.getDD(dive3, pos3, 1) | toFloat }}</span>
              <span *ngIf="event == '3m'" id="dd3_3m">{{ ddService.getDD(dive3, pos3, 3) | toFloat }}</span>
              <span *ngIf="event == '10m'" id="dd3_10m">{{ ddService.getDD(dive3, pos3, 10) | toFloat }}</span>
              <span *ngIf="event == 'Custom' || event == 'Platform'" id="dd3_other">
                {{ ddService.getDD(dive3, pos3, level3) | toFloat }}
              </span>
            </div>
          
          </div>
        </li>

        <li>
          <div class="form-group">
            
            <input type="text" [(ngModel)]="dive4" 
                ngControl="num4" name="dive number 4" 
                class="form-control" required>

            <div class="select selectPos">
              <select [(ngModel)]="pos4" ngControl="pos4" 
                  name="dive pos 4" class="form-control" required>`
                <option *ngFor="let p of ['A','B','C','D']" [value]="p">{{p}}</option>
              </select>
            <div class="select__arrow"></div>
            </div>
            
            <div class="select selectLev" *ngIf="event == 'Custom' || event == 'Platform' ">
              <select [(ngModel)]="level4" ngControl="level4" 
                  name="dive level 4" class="form-control" required>
                <option *ngIf="event != 'Platform' " value=1>1m</option>
                <option *ngIf="event != 'Platform' " value=3>3m</option>
                <option value=5>5m</option>
                <option value=7>7m</option>
                <option value=10>10m</option>
              </select>
              <div class="select__arrow"></div>
            </div>

            <span *ngIf="event == '1m'" class="levLabel">1m</span>
            <span *ngIf="event == '3m'" class="levLabel">3m</span>
            <span *ngIf="event == '10m'" class="levLabel">10m</span>

            <div id="dd4" class="dd"> 
              <span *ngIf="event == '1m'" id="dd4_1m">
                {{ ddService.getDD(dive4, pos4, 1) | toFloat }}</span>
              <span *ngIf="event == '3m'" id="dd4_3m">
                {{ ddService.getDD(dive4, pos4, 3) | toFloat }}</span>
              <span *ngIf="event == '10m'" id="dd4_10m">
                {{ ddService.getDD(dive4, pos4, 10) | toFloat }}</span>
              <span *ngIf="event == 'Custom' || event == 'Platform'" id="dd4_other">
                {{ ddService.getDD(dive4, pos4, level4) | toFloat }}
              </span>
            </div>
          
          </div>
        </li>

        <li *ngIf="sex=='M'">
          <div class="form-group">
            
            <input type="text" [(ngModel)]="dive5" 
                ngControl="num5" name="dive number 5" 
                class="form-control" required>

            <div class="select selectPos">
              <select [(ngModel)]="pos5" ngControl="pos5" 
                  name="dive pos 5" class="form-control" required>`
                <option *ngFor="let p of ['A','B','C','D']" [value]="p">{{p}}</option>
              </select>
            <div class="select__arrow"></div>
            </div>
            
            <div class="select selectLev" *ngIf="event == 'Custom' || event == 'Platform' ">
              <select [(ngModel)]="level5" ngControl="level5" 
                  name="dive level 5" class="form-control" required>
                <option *ngIf="event != 'Platform' " value=1>1m</option>
                <option *ngIf="event != 'Platform' " value=3>3m</option>
                <option value=5>5m</option>
                <option value=7>7m</option>
                <option value=10>10m</option>
              </select>
              <div class="select__arrow"></div>
            </div>

            <span *ngIf="event == '1m'" class="levLabel">1m</span>
            <span *ngIf="event == '3m'" class="levLabel">3m</span>
            <span *ngIf="event == '10m'" class="levLabel">10m</span>

            <div id="dd5" class="dd"> 
              <span *ngIf="event == '1m'" id="dd5_1m">
                {{ ddService.getDD(dive5, pos5, 1) | toFloat }}</span>
              <span *ngIf="event == '3m'" id="dd5_3m">
                {{ ddService.getDD(dive5, pos5, 3) | toFloat }}</span>
              <span *ngIf="event == '10m'" id="dd5_10m">
                {{ ddService.getDD(dive5, pos5, 10) | toFloat }}</span>
              <span *ngIf="event == 'Custom' || event == 'Platform'" id="dd5_other">
                {{ ddService.getDD(dive5, pos5, level5) | toFloat }}
              </span>
            </div>
          
          </div>
        </li>

      </ol>
      
      <table id="totalDD">
        <tr>
          <td id="label">Total:</td>
          <td id="val">{{totalDD() | toFloat }}</td>
        </tr>
      </table>

      <button type="submit" class="pushBtn">Add Diver</button>

    </form>
</div>