.info {
  width:100%;
  padding-left:10px;
}

.info th {
  font-size: 18px;
}

.info td {
  text-align:center;
  font-size:12px;
  min-width:90px;
}

.diverList {
  counter-reset:li; /* Initiate a counter */
  padding-left:20px; /* Remove the default left padding */
}

.diverList li {
  padding-bottom: 5px;
  list-style:none;

  position:relative;
}

.diverList li:before {
  content:counter(li); /* Use the counter as content */
  counter-increment:li; /* Increment the counter by 1 */
  position:absolute;

  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height:70px;
  width:35px;

  background-color:#00b8e6;
  text-align:center;
  line-height:70px;


  color:white;
  font-size:20px;
}

.buttonList {
  padding:5px;
  background-color: lightgray;
  width:600px;
  height:70px;
  border-radius:10px;

  text-shadow:none;
  border:none;

  outline:none;
}

.buttonList:hover {
  background-color:#a6a6a6;
}

.diverList {
  padding-bottom:5px;
}