ul li {
  display:inline;
  padding:3px;
}

ul {
  padding:0;
  list-style-type: none;
  text-align:center;
}

button {
  width:30px;
  height:30px;
  font-size:14px;
}

button#scoreSubmit {
  width:auto;
}