<h2>{{diverUp.name}} {{dive.num}}{{dive.pos}} {{dive.level}}m</h2>

<table>
  <tr>
    <ul>
      <li *ngFor="let score of fulls">
        <button class="scores pushBtn" (click)="addScore(score)">{{score}}</button>
      </li>
    </ul>
  </tr>
  
  <tr>
    <ul>
      <li *ngFor="let score of halfs">
        <button class="scores pushBtn" (click)="addScore(score)">{{score}}</button>
      </li>
    </ul>
  </tr>
</table>

<h3>{{scores}}</h3>

<button id="scoreSubmit" class="pushBtn" (click)="submit()">
  Submit Scores
</button>


