<table>
  <tr>
    <td class="tableHeader" >
      <span>{{diverUp.name}}</span> 
    </td>
    <td class="tableHeader" >
      <span id="diveInfo">{{dive.num}}{{dive.pos}} {{dive.level}}m</span>
    </td>
  </tr>
</table>

<table>
  <tr>
    <ul>
      <li *ngFor="let score of fulls">
        <button class="scores pushBtn" (click)="addScore(score)">{{score}}</button>
      </li>
    </ul>
  </tr>
  
  <tr>
    <ul>
      <li *ngFor="let score of halfs">
        <button class="scores pushBtn" (click)="addScore(score)">{{score}}</button>
      </li>
    </ul>
  </tr>
</table>

<table>
  <tr>
    <td id="scoresBox">
      <h3>Scores: {{scores}}</h3>
      <h3>Total: {{dive.total}}</h3>
      <button id="scoreSubmit" class="pushBtn" (click)="submit()">
        Submit Scores
      </button>
    </td>
    <td valign="bottom">
      <button id="nextDiver" class="pushBtn" (click)="next()">
        Next Diver
      </button>
    </td>
  </tr>
</table>


